<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293441843521-762k3biqlqt2iulkvbg7jp7kjt8m91vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293441843521-762k3biqlqt2iulkvbg7jp7kjt8m91vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAGvzOyFUU-0S11NbZD6p3GaJoJ3fsciGo</string>
	<key>GCM_SENDER_ID</key>
	<string>293441843521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evgeny.manko.mireaApp</string>
	<key>PROJECT_ID</key>
	<string>mireapp-b2776</string>
	<key>STORAGE_BUCKET</key>
	<string>mireapp-b2776.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293441843521:ios:be25eae58c5c11528af1c0</string>
	<key>DATABASE_URL</key>
	<string>https://mireapp-b2776.firebaseio.com</string>
</dict>
</plist>